<style>
    .team-member {
      text-align: center;
      padding: 20px;
    }
    .team-member .circle {
      width: 150px;
      height: 150px;
      background-color: #ddd;
      border-radius: 50%;
      margin: 0 auto 15px;
    }

  </style>

  <div class="container py-5  bg-primary bg-opacity-10 rounded border-2 border-black border">
    <h2 class="text-center mb-5">Core and Support Team</h2>
    <div class="row justify-content-center">

      <div class="col-md-4 team-member">
        <div class="circle z-1"><img src="/static/daniel.jpg" class="img-fluid h-100 w-100 object-fit-cover" style="border-radius: 50%;" alt="D치niel Bence"></div>
        <h5>D치niel Bence</h5>
        <p>Developer, with 5 years scoring office and vaulting event experience</p>
      </div>

      <div class="col-md-4 team-member">
            <div class="circle z-1"><img src="/static/andras.jpg" class="img-fluid h-100 w-100 object-fit-cover" style="border-radius: 50%;" alt="Andr치s Bence-Kiss"></div>
        <h5>Andr치s Bence-Kiss</h5>
        <p>Lvl 4 Steward</p>
      </div>

      <div class="col-md-4 team-member">
        <div class="circle z-1"><img src="/static/krisztina.jpg" class="img-fluid h-100 w-100 object-fit-cover" style="border-radius: 50%;" alt="Krisztina Bence-Kiss"></div>
        <h5>Krisztina Bence-Kiss</h5>
        <p>Lvl 3 Judge</p>
      </div>

    </div>
  </div>
