<% if (failMessage) { %>
  <div class="position-fixed top-0 start-50 translate-middle-x p-3" style="z-index: 9999;">
    <div id="formFailToast" class="toast align-items-center text-white bg-danger border-0 show" role="alert" aria-live="assertive" aria-atomic="true">
      <div class="d-flex">
        <div class="toast-body">
          <%= failMessage %>
        </div>
        <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
      </div>
    </div>
  </div>
<% } %>
<div class="container my-5">

  <div class="card shadow my-5 bg-dark bg-opacity-75" style="max-width: 400px; margin: auto;">
    <img src="/static/VaultXLogo.png" alt="" class="img-fluid w-50 mx-auto m-3">
    <div class="card-body">
      <form action="/login" method="post">
        <div class="mb-3">
          <label for="username" class="form-label text-white">Username</label>
          <input type="text" id="username" name="username" class="form-control" required>
        </div>
        <div class="mb-3">
          <label for="password" class="form-label text-white">Password</label>
          <input type="password" id="password" name="password" class="form-control" required>
        </div>

        <div class="d-grid">
          <button type="submit" class="btn btn-primary">Login</button>
        </div>
      </form>
    </div>
  </div>

</div>
