<div class="container my-4 border border-black border-1 border-opacity-10 rounded p-3  shadow bg-primary bg-opacity-10 " style="max-width: 80vh;">
  <h1 class="text-center mb-3">Edit result calc template</h1>

  <form action="/result/calcTemp/edit/<%= formData ? formData._id : '' %>" method="POST">
    <div class="row justify-content-center g-3 m-auto">

      <div class="col-md-12">
        <div class="form-floating">
          <input type="number" step="0.01" class="form-control shadow-none" id="round1FirstP" name="round1FirstP" placeholder="Round 1 first Percentage"
                 value="<%= formData ? formData.round1FirstP : '' %>">
          <label for="round1FirstP">Round 1 first Percentage</label>
        </div>
      </div>
            <div class="col-md-12">
        <div class="form-floating">
          <input type="number" step="0.01" class="form-control shadow-none" id="round1SecondP" name="round1SecondP" placeholder="Round 1 second Percentage"
                 value="<%= formData ? formData.round1SecondP : '' %>">
          <label for="round1SecondP">Round 1 second Percentage</label>
        </div>
      </div>
            <div class="col-md-12">
        <div class="form-floating">
          <input type="number" step="0.01" class="form-control shadow-none" id="round2FirstP" name="round2FirstP" placeholder="Round 2 first Percentage"
                 value="<%= formData ? formData.round2FirstP : '' %>">
          <label for="round2FirstP">Round 2 first Percentage</label>
        </div>
      </div>

      <div class="col-md-12 mt-3">
        <button type="submit" class="btn btn-primary w-100">Edit</button>
      </div>

    </div>
  </form>
</div>
